body {
    font: normal 14px/1.42857142857143 'Roboto', sans-serif;
    color: #333;
}

body, html {
    margin: 0;
    padding: 0;
    display: block;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.aside {
    width: 100%;
}
.main {
    width: 100%;
}

@media all and (min-width: 768px) {
    .aside {
        width: 180px;
    }
    .main {
        width: calc(100% - 180px);
    }
}

.header .container {
    display: flex;
    justify-content: space-around;
}

.logo img {
    max-width: 124px;
}

.gallery ul, .gallery li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
}

.gallery li {
    width: calc(100% / 1);
}

@media all and (min-width: 768px) {
    .gallery li {
        width: calc(100% / 2);
    }
}

@media all and (min-width: 1024px) {
    .gallery li {
        width: calc(100% / 3);
    }

}

@media all and (min-width: 1280px) {
    .gallery li {
        width: calc(100% / 4);
    }
}

.gallery img {
    max-width: 100%;
    height: auto;
}