body {
    font: normal 14px/1.42857142857143 'Roboto', sans-serif;
    color: #333;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container-fluid,
.container {
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 2rem;
    padding-left: 2rem;
}

.aside, .main {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.aside {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
}

.main {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
}

.wrapper {
    display: flex;
    flex: 1 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 8rem;
}

.gallery ul, .gallery li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
}

.gallery li {
    width: calc(100% / 1);
}

.gallery img {
    max-width: 100%;
    height: auto;
}

.container {
    min-width: 49rem;
}

@media only screen and (min-width: 48em) {
    .gallery li {
        width: calc(100% / 1);
    }
}

@media only screen and (min-width: 64em) {
    .container {
        width: 65rem;
    }

    .gallery li {
        width: calc(100% / 2);
    }
}

@media only screen and (min-width: 75em) {
    .container {
        width: 76rem;
    }

    .gallery li {
        width: calc(100% / 3);
    }
}

.entry-content {
    padding: .5rem;
}

address {
    display: inline-block;
}

form {
    flex-basis: 40rem;
    width: 40rem;
}

.field {
    display: flex;
    min-height: 2rem;
    padding: .5rem;
}

.field label {
    flex-basis: 5rem;
    width: 5rem;
}

.field input, .field textarea {
    box-sizing: border-box;
    width: 25rem;
    flex-basis: 25rem;
}

.field textarea {
    height: 10rem;
}

input[type='submit'] {
    margin: .5rem 0;
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #8d8d8d;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
    color: #333;
    background-color: #fff;
}

input[type='submit']:focus, input[type='submit']:hover {
    text-decoration: none;
    outline: 0;
}

input[type='submit']:focus {
    color: #fff;
    background-color: #333;
}

input[type='submit']:active {
    background-image: none;
}
