body {
    font: normal 14px/1.42857142857143 'Roboto', sans-serif;
    color: #333;
}

body, html {
    margin: 0;
    padding: 0;
    display: block;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.aside {
    width: 100%;
}

@media all and (min-width: 768px) {
    .aside {
        width: 180px;
    }
}